## Load Data

In [1]:
import pandas as pd

train_data = pd.read_csv("data/train.csv")
test_data = pd.read_csv("data/test.csv")

## Data Preprocessing

In [2]:
train_data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [3]:
train_data.columns

Index(['id', 'Name', 'Gender', 'Age', 'City',
       'Working Professional or Student', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [4]:
train_data.shape, test_data.shape

((140700, 20), (93800, 19))

In [5]:
train_y = train_data.pop("Depression")

### Combine both Train data & Test data into single dataframe for easier preprocessing & cleaning

In [6]:
df = pd.concat([train_data, test_data])
df.shape

(234500, 19)

In [7]:
df = df.rename(
    columns={
        "Have you ever had suicidal thoughts ?": "Suicidal Thoughts",
        "Family History of Mental Illness": "Family History"
    }
)

Working Professional or Student is redundant as we've the Profession column  
Updating Profession as Student for students.

In [8]:
df.loc[df["Working Professional or Student"] == "Student", "Profession"] = "Student"

In [9]:
df.isna()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Suicidal Thoughts,Work/Study Hours,Financial Stress,Family History
0,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
93796,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
93797,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False
93798,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False
93799,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False

In [10]:
df["CGPA"].fillna(-1, inplace=True)
df["Degree"].fillna("Other", inplace=True)

/tmp/ipykernel_14344/4124504737.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CGPA"].fillna(-1, inplace=True)
/tmp/ipykernel_14344/4124504737.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Degree"].fillna("Other", inplace=True)

Academic Pressure & Study Satisfaction are only available for Students, These can be update for Work Pressure & Job Satisfaction

In [11]:
df["Work Pressure"].fillna(df["Academic Pressure"], inplace=True)
df["Job Satisfaction"].fillna(df["Study Satisfaction"], inplace=True)

/tmp/ipykernel_14344/3374377853.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Work Pressure"].fillna(df["Academic Pressure"], inplace=True)
/tmp/ipykernel_14344/3374377853.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Job Satisfaction"].fillna(df["Study Satisfaction"], inplace=True)

Marking the features which have less than 5 examples to Other

In [12]:
def mark_value_as_other(feature: str, threshold: int, value_to_update: str = "Other"):
    print(f"Updating for Feature: {feature}")
    values = df[feature].value_counts()
    df[feature] = df[feature].replace(values[values < threshold].index, value_to_update)

for feature in ["Profession", "Degree", "City"]:
    mark_value_as_other(feature=feature, threshold=5)

Updating for Feature: Profession
Updating for Feature: Degree
Updating for Feature: City

In [13]:
df.loc[df["Degree"] == "M"]

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Suicidal Thoughts,Work/Study Hours,Financial Stress,Family History
20659,20659,Nishant,Male,19.0,Kolkata,Student,Student,3.0,3.0,7.53,1.0,1.0,Less than 5 hours,Moderate,M,No,0.0,5.0,Yes
55299,55299,Shlok,Male,52.0,Meerut,Working Professional,Content Writer,NaN,3.0,-1.00,NaN,4.0,More than 8 hours,Healthy,M,No,7.0,5.0,No
111586,111586,Shrey,Male,43.0,Indore,Working Professional,NaN,NaN,2.0,-1.00,NaN,5.0,7-8 hours,Healthy,M,Yes,11.0,2.0,Yes
44486,185186,Aishwarya,Female,26.0,Ludhiana,Student,Student,4.0,4.0,5.64,3.0,3.0,More than 8 hours,Healthy,M,No,6.0,2.0,No
46769,187469,Vivan,Male,28.0,Nashik,Student,Student,4.0,4.0,8.91,1.0,1.0,5-6 hours,Healthy,M,Yes,6.0,3.0,No

Convert to Numeric values

In [18]:
df["Work/Study Hours"] = pd.to_numeric(df["Work/Study Hours"], errors="coerce")

In [24]:
df["Suicidal Thoughts"] = df["Suicidal Thoughts"].map({"Yes": 1, "No": 0})

In [23]:
df["Family History"] = df["Family History"].map({"No": 0, "Yes": 1})

In [25]:
df["Gender"] = df["Gender"].map({"Female": 0, "Male": 1})

In [26]:
df["Sleep Duration"] = df["Sleep Duration"].map({
    "3-4 hours": 4,
    "4-5 hours": 4,
    "Less than 5 hours": 4,
    "5-6 hours": 5,
    "6-7 hours": 6,
    "7-8 hours": 7,
    "More than 8 hours": 8
})

Remove the columns which are not required

In [27]:
df = df.drop(["id", "Working Professional or Student", "Academic Pressure", "Study Satisfaction"], axis=1).reset_index(drop=True)

Mark whether Job is Desk type or Field Work

In [29]:
office_based = {
    'Chef': False,
    'Teacher': False,
    'Student': False,
    'Business Analyst': True,
    'Financial Analyst': True,
    'Chemist': False,
    'Electrician': False,
    'Software Engineer': True,
    'Data Scientist': True,
    'Plumber': False,
    'Marketing Manager': True,
    'Accountant': True,
    'Entrepreneur': True,  # can be True too
    'HR Manager': True,
    'UX/UI Designer': True,
    'Content Writer': True,
    'Educational Consultant': True,
    'Civil Engineer': False,
    'Manager': True,
    'Pharmacist': False,
    'Architect': True,
    'Mechanical Engineer': False,
    'Customer Support': True,
    'Consultant': True,
    'Judge': False,
    'Researcher': True,
    'Pilot': False,
    'Graphic Designer': True,
    'Travel Consultant': True,
    'Digital Marketer': True,
    'Lawyer': False, # can be True too
    'Research Analyst': True,
    'Sales Executive': True,
    'Doctor': False,
    'Unemployed': False,
    'Investment Banker': True,
    'Other': False,
    'Academic': True,
    'Working Professional': True
}
df["Desk Job"] = df["Profession"].map(office_based)

In [30]:
df.sample(10)

,Name,Gender,Age,City,Profession,Work Pressure,CGPA,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Suicidal Thoughts,Work/Study Hours,Financial Stress,Family History,Desk Job
123276,Armaan,1,30.0,Thane,Teacher,2.0,-1.0,2.0,8.0,Moderate,MBBS,0,8.0,2.0,1,False
5268,Anvi,0,58.0,Vadodara,Teacher,2.0,-1.0,1.0,4.0,Healthy,B.Ed,0,5.0,4.0,0,False
174868,Aditya,1,45.0,Kalyan,HR Manager,5.0,-1.0,4.0,8.0,Moderate,MSc,0,0.0,4.0,1,True
174952,Harsh,1,41.0,Faridabad,Accountant,3.0,-1.0,2.0,5.0,Moderate,B.Com,0,8.0,2.0,0,True
233479,Aaradhya,0,47.0,Patna,Travel Consultant,2.0,-1.0,2.0,5.0,Unhealthy,BHM,0,7.0,5.0,1,True
155175,Vivan,1,24.0,Surat,Teacher,2.0,-1.0,1.0,5.0,Moderate,MA,1,9.0,3.0,0,False
18774,Rudransh,1,56.0,Kanpur,Consultant,2.0,-1.0,1.0,8.0,Healthy,MCA,0,6.0,3.0,1,True
74716,Rahil,1,51.0,Varanasi,Doctor,2.0,-1.0,1.0,8.0,Healthy,MBBS,1,5.0,4.0,0,False
65360,Rupak,1,47.0,Kalyan,Teacher,5.0,-1.0,3.0,4.0,Healthy,M.Ed,0,1.0,4.0,0,False
108980,Rajat,1,53.0,Rajkot,Teacher,2.0,-1.0,3.0,4.0,Healthy,BBA,1,3.0,5.0,0,False